<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>
            Choosing the Right Javascript
		</title>

		<link rel="stylesheet" href="_/lib/css/reveal.css">
		<link rel="stylesheet" href="_/lib/css/theme/default.css">
		<link rel="stylesheet" href="_/lib/css/font-awesome.css">
		<link rel="stylesheet" href="_/lib/css/monokai_sublime.css">
		<link rel="stylesheet" href="_/css/base.css">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

				<section id="title">
					<h2>Choosing the Right Javascript</h2>
				</section>

                <section id="intro">
					<h3>
                        Well Hello There!
					</h3>
					<ul class="no-list-style">
                        <li>
                            <i class="fa fa-user"></i>
                            Adam Smith
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            aCodeSmith.com
                        </li>
                        <li>
                            <i class="fa fa-suitcase"></i>
                            Wide Open Technologies
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                            @aCodeSmith
                        </li>
					</ul>
				</section>

                <section class="stack" id="where-is-js">

                    <h3>
                        Where is javascript today?
                    </h3>

                    <div class="fragment roll-in" data-fragment-index="1">
                        <p>
                            Asynchronous events, nested callbacks and confusing scope
                        </p>
                    </div>
                    <div class="fragment" data-fragment-index="2">
                        <pre>
<code class="javascript">
    $(".do-something").click(function(function(){
        $(this).then(function(){
            this.really(function(){
                this.comeOn(function(){
                    this.what(function(){
                        return 'enough';
                    });
                });
            });
        });
    });
</code>
                        </pre>
                    </div>
                </section>

                <section id="rescue">
                    <h5>Frameworks, promises and JSON</h5>

<div class="fragment" data-fragment-index="1">

    <h6>
        jQuery Deferred
    </h6>
    <pre><code class="javascript">
        $deferred = $.getJSON('/api/json/data');

        $deferred.done(function(data){
            //data is json object
        });
    </code></pre>
</div>
<div class="fragment" data-fragment-index="2">
    <h6>
        Backbone Promise
    </h6>

<pre>
<code class="javascript">
    this.model.save().always(function(obj) {
        //obj.responseText is http get request
    });
</code>
</pre>
</div>
<div class="fragment" data-fragment-index="3">
    <h6>Angular Promise</h6>
    <pre><code class="javascript">
        app.factory('PromiseMe', function ($http, $q) {
            return {
                getResult: function() {
                        $http.get('/api/json/data')
                        .then(function(response) {
                            //response is http get request
                            return response.data;
                        });
                    }
                }
            };
        });
    </code></pre>
</div>
                </section>

                <section id="spa">

                    <h3>
                        What is a Single Page Application?
                    </h3>

                    <blockquote>
                        <p>
                            A single-page application (SPA), also known as single-page interface (SPI), is a web application or web site that fits on a single web page with the goal of providing a more fluid user experience akin to a desktop application.
                        </p>
                        <footer>
                            - <a href="http://en.wikipedia.org/wiki/Single-page_application"> Wikipedia</a>
                        </footer>
                    </blockquote>

                </section>

                <section id="spa-do">

                    <h3>
                        What does a SPA do?
                    </h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            <strong>Parse JSON Data</strong><br/>
                            <ul>
                                <li>Flickr</li>
                                <li>Twitter</li>
                                <li>Facebook</li>
                                <li>Custom API</li>
                            </ul>
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Render views via reusable templates
                            <pre><code class="html">
&lt;script type=&quot;text/template&quot; id=&quot;template&quot;&gt;
    &lt;h1&gt;&lt;%= title %&gt;&lt;/h1&gt;
&lt;/script&gt;
                            </code></pre>
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Handle interactions from the user (in real time?)
                            <pre>
                                <code class="javascript">
SearchView = Backbone.View.extend({
    events: {
        "click input": "doSearch"
    }
});</code>
                            </pre>
                        </li>
                    </ul>


                </section>

                <section id="when-to-us">
                    <h3>
                        When to use a framework and when to use a few libraries?
                    </h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">What is a javascript framework?</li>
                        <li class="fragment" data-fragment-index="2">Multiple Libraries</li>
                        <li class="fragment" data-fragment-index="3">Retaining Statefulness</li>
                        <li class="fragment" data-fragment-index="4">Complicated Template Logic</li>
                    </ul>
                </section>

                <section id="differ">
                    <h3>
                        How do javascript frameworks differ from MVC frameworks?
                    </h3>

                    <ul>
                        <li>
                            Model View / ViewModel vs Controller Actions
                        </li>
                        <li>
                            Related to application state
                        </li>
                    </ul>
                </section>

                <section id="rest">
                    <h3>
                        Interacting with RESTful APIs.<br />
                        <small>Representational state transfer</small>
                    </h3>
                    <ul>
                        <li>Application programming interface
                        </li>
                        <li>Similar to HTTPS request: GET, PUT, POST, DELETE
                        </li>
                        <li>XML RPC
                        </li>
                        <li>True detachment from views
                        </li>
                    </ul>
                </section>

                <section id="why">
                    <h3>
                        jQuery / Backbone / Angular
                    </h3>
                    <h4>
                        Why chose these?
                    </h4>
                    <ul>
                        <li>
                            Well Established
                        </li>
                        <li>
                            Stackoverflow.com
                        </li>
                        <li>
                            Docs and User Groups
                        </li>
                        <li class="fragment" data-fragment-index="1">
                            Differences
                        </li>
                    </ul>
                </section>

                <section id="jquery">

                    <h3>
                        jQuery <span class="fragment" data-fragment-index="1">...is everywhere!</span>
                    </h3>

                    <ul>
                        <li class="fragment" data-fragment-index="2">
                            John Resig
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Used by over 60% of the 10,000 most visited websites.
                        </li>
                        <li class="fragment" data-fragment-index="4">
                            Normalization, Ajax and Plugins
                        </li>
                        <li class="fragment" data-fragment-index="5">
                            Versions - 1.11.X and 2.x.x
                        </li>
                        <li class="fragment" data-fragment-index="6">
                            How many times can you write the same thing?
                            <pre><code class="javascript">
    $('button').click(function(event){
        //Insert magic here
    });

    $('section').on('click','button',function(event){
       //More magic
    });
                            </code></pre>
                        </li>
                    </ul>

                </section>

                <section id="jquery-core">
                    <h3>jQuery Core</h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            Selector Object
                            <pre><code class="javascript">
    var $jQueryObject = $('div');

    $jQueryObject.addClass('foo')
        .removeClass('bar')
        .text('Hello World')
        .closest('section')
        .append('&lt;h1&gt;New Title&lt;/h1&gt;');
                            </code></pre>
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Ajax
                            <pre><code class="javasscript">
    $.ajax({
        type: 'PUT',
        data: $form.serialize(),
        success: function(data) {
            //Put complete callback
        }
    });
                            </code></pre>
                        </li>
                    </ul>
                </section>
                <section id="jquery-core-2">
                    <h3>jQuery More Core</h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            Plugins
                            <ul>
                                <li>jQuery UI</li>
                                <li>lightbox</li>
                                <li>fitVids</li>
                            </ul>
                            <pre><code class="javascript">
    $('input').datePicker({
        dateFormat: "yy-mm-dd"
    });
                                </code></pre>
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Extending
                            <pre><code class="javascript">
    $.fn.myCoolFunction = function(){
        console.log('Be Cool');
    }
                            </code></pre>
                        </li>
                    </ul>
                </section>
                <section id="jquery-spa">
                    <h3>
                        Building a SPA with jQuery
                        <i class="fa fa-frown-o"></i>
                    </h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            Lots of overhead
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Custom router and controller
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Spaghetti code
                        </li>
                        <li class="fragment">
                            <i class="fa fa-thumbs-down"></i> &nbsp;&nbsp;&nbsp; Don't Do It
                        </li>
                    </ul>
                </section>

                <section id="backbone">
                    <h3>
                        Backbone Back-Story
                    </h3>

                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            Jeremy Ashkenas - also known for CoffeeScript
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Initial release	October 13, 2010
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Latest release February 2014
                        </li>
                        <li class="fragment" data-fragment-index="4">
                            Used by AirBnB, USA Today, Grooveshark
                        </li>
                    </ul>
                </section>

                <section id="backbone-core">
                    <h3>
                        Backbone core components
                    </h3>

                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            Events
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Models
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Collections
                        </li>
                        <li class="fragment" data-fragment-index="4">
                            Views
                        </li>
                        <li class="fragment" data-fragment-index="5">
                            Router
                        </li>
                        <li class="fragment" data-fragment-index="6">
                            Sync
                        </li>

                    </ul>

                </section>

                <section id="backbone-events">
                    <h3>Backbone Events</h3>
                    <p>
                        Native events in backbone are bound to both the collection, the view and the model.
                    </p>
                    <h6 class="fragment" data-fragment-index="1">Events</h6>
                    <ul class="fragment" data-fragment-index="1">
                        <li><code class="javascript">on</code></li>
                        <li><code class="javascript">off</code></li>
                        <li><code class="javascript">trigger</code></li>
                        <li><code class="javascript">listenTo</code></li>
                        <li><code class="javascript">stopListening</code></li>
                    </ul>
                </section>

                <section id="backbone-model-joke">
                    <h3>
                        The Backbone Model
                    </h3>

                    <figure class="fragment" data-fragment-index="1">
                        <img src="_/images/backbone-model.jpg" />
                    </figure>

                </section>

                <section id="backbone-model">
                    <h3>
                        The Backbone Model
                    </h3>
                    <div>

                        <pre><code class="javascript tall">
    Car = Backbone.Model.extend({
        defaults: {
            make: null,
            model: null,
            year: null,
            color: null,
            tires: null,
            oilChanged: null
        },
        changeOil: function(){
            this.oilChanged = new Date();
        },
        initialize: function(){
            //Fires on creation
        }
    });

    pinto = new Car({
        make: 'Ford',
        model: 'Runabout',
        year: '1973',
        color: 'cherry red'
    });

    pinto.on('change:tires', function(){
         //Call Dad - let him know you are safe
    });

                        </code></pre>

                    </div>
                </section>

                <section id="backbone-collection">
                    <h3>
                        Backbone Collections
                    </h3>
                    <p>
                        Collections are a group of models with self-contained functions and interact with the sync (aka the RESTful API)
                    </p>
                    <div class="fragment" data-fragment-index="1">

                        <pre><code class="javascript tall">
    CarGarage = Backbone.Collection.extend({
        model: Car,
        url: '/api/garage/',
    });

    JayLenoGarage = new CarGarage(
        [
            new Car({ make: 'Ford', model:'Highboy', year:'1932' }),
            new Car({ make: 'Chevy', model:'C10', year:'1940' })
        ]
    );

    JayLenoGarage.bind("add", function(car) {
        alert("added " + car.get("make") + " from " + car.get("year"));
    });

    JayLenoGarage.add({ make: 'Ferrari', model: 'Barchetta', year: '1952' });
                        </code></pre>

                    </div>
                </section>

                <section id="backbone-view">
                    <h3>
                        Backbone Views
                    </h3>
                    <blockquote>                                            
                        <p>
                            Backbone views are almost more convention than they are code — they don't determine anything about your HTML or CSS for you, and can be used with any JavaScript templating library. The general idea is to organize your interface into logical views, backed by models, each of which can be updated independently when the model changes, without having to redraw the page.
                        </p>
                        <footer>
                            - <a href="http://backbonejs.org/#View">Backbone Docs</a>
                        </footer>
                    </blockquote>
                </section>

                <section id="backbone-view-example">
                    <h3>
                        Backbone View
                    </h3>
                    <pre><code class="javascript tall">
    var GarageDoor = Backbone.View.extend({
        className: "document-row",
        el: 'section',
        $el : $('section'),
        events: {
            "click .nextCar":       "open",
            "click .button.edit":   "openGarageDoor",
            "click .button.delete": "destroy"
        },
        openGarageDoor: function(){
            //called on a click event from the events object
            //trigger css3 animation via dom manipulation
        },
        initialize: function() {
            this.listenTo(this.model, "change", this.render);
        },
        render: function() {
            this.$el.html( this.template( this.model.toJSON() ));
        }
    });
                    </code></pre>
                </section>

                <section id="backbone-template">

                    <h3>Backbone Templates</h3>

                    <pre><code class="javascript tall">
    &lt;script type=&quot;text/template&quot; id=&quot;template&quot;&gt;
        &lt;h1&gt;&lt;%= make %&gt;&lt;/h1&gt;
        &lt;% if (year > 1930 && year < 1984) { %&gt;
            &lt;p&gt;
                Classic Car
            &lt;/p&gt;
        &lt;% } %&gt;
    &lt;/script&gt;
                    </code></pre>

                </section>

                <section id="backbone-tree">

                    <h3>
                        Backbone App <br />
                        <small>Folder Structure</small>
                    </h3>

                    <pre><code class="javascript tall">
                        /* File Structure
                        ├── js
                        │   ├── libs
                        │   │   ├── jquery
                        │   │   │   ├── jquery.min.js
                        │   │   ├── backbone
                        │   │   │   ├── backbone.min.js
                        │   │   └── underscore
                        │   │   │   ├── underscore.min.js
                        │   ├── models
                        │   │   ├── users.js
                        │   │   └── projects.js
                        │   ├── collections
                        │   │   ├── users.js
                        │   │   └── projects.js
                        │   ├── views
                        │   │   ├── projects
                        │   │   │   ├── list.js
                        │   │   │   └── edit.js
                        │   │   └── users
                        │   │       ├── list.js
                        │   │       └── edit.js
                        │   ├── router.js
                        │   ├── app.js
                        │   ├── main.js  // Bootstrap
                        └── index.html
                        */
                    </code></pre>

                </section>

                <section id="backbone-app">

                    <h3>Backbone Application Object</h3>

                    <p>
                        Stores information needed by other parts of the application.
                    </p>

                    <pre><code class="javascript">
                        app = {};

                        app.models = [];

                        app.collections = [];

                        app.templates = [];
                    </code></pre>

                </section>

                <section id="backbone-god-object">
                    <h3>
                        The God Object
                    </h3>

                    <blockquote>
                        <p>
                            In object-oriented programming, a god object is an object that knows too much or does too much.
                        </p>
                        <footer>
                            - <a href="http://en.wikipedia.org/wiki/God_object">Wikipedia</a>
                        </footer>
                    </blockquote>
                </section>

                <section id="angular">

                    <h2>Angular</h2>

                    <p>
                        The kitchen sink and then some.
                    </p>

                    <div class="fragment" data-fragment-index="1">
                        <img src="_/images/js-learning-curves.jpeg" alt="Angular Learning Curve"/>
                    </div>

                </section>

                <section id="angular-components">

                    <h3>Angular Components</h3>

                    <ul>
                        <li class="fragment" data-fragment-index="1">ng directives
                            <ul>
                                <li>
                                    ng-app
                                </li>
                                <li>
                                    ng-controller
                                </li>
                                <li>
                                    ng-view
                                </li>
                                <li>
                                    ng-submit
                                </li>
                            </ul>
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            $scope, $rootScope and object literals
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Controllers and routes
                        </li>
                        <li class="fragment" data-fragment-index="4">
                            Two way data binding
                        </li>
                        <li class="fragment" data-fragment-index="5">
                            Custom Directives <br />
                            &lt;what-in-the-world&gt;&lt;/what-in-the-world&gt;
                        </li>
                    </ul>

                </section>

                <section id="angular-i-vs-d">
                    <h3>
                        Imperative vs Declarative
                    </h3>
                    <blockquote>
                    <ul>
                        <li>
                            Imperative programming: telling the "machine" how to do something, and as a result what you want to happen will happen.
                        </li>
                        <li class="fragment" data-fragment-index="1">
                            Declarative programming: telling the "machine" what you would like to happen, and let the computer figure out how to do it.
                        </li>
                    </ul>

                        <footer>
                           - <a href="http://latentflip.com/imperative-vs-declarative/">Philip Roberts</a>
                        </footer>
                    </blockquote>
                </section>
                <section id="angular-i-vs-d-2">
                    <div>
                        <h5>Declarative</h5>
                        <pre><code class="html">
    &lt;p&gt;{{ gallery }}&lt;/p&gt;
    &lt;img src=&quot;http://placekitten.com/g/200/300&quot; highlight-image-gallery gallery=1&gt;
                        </code></pre>
                    </div>
                    <div class="fragment" data-fragment-index="1">
                        <h5>Imperative</h5>
                        <pre><code class="javascript">
    app.directive("highlightImageGallery", function() {
        return {
            restrict: "A", // A = Attribute, C = CSS Class, E = HTML Element, M = HTML Comment
            link: function(scope, element, attributes) {

                element.bind("mouseenter", function() {
                    scope.gallery = "View Gallery " + attributes.gallery;
                    scope.$apply();
                });

                element.bind("mouseleave", function() {
                    scope.gallery = "Choose Gallery";
                    scope.$apply();
                });
            }
        };
    });
                        </code></pre>
                    </div>

                </section>

                <section id="angular-ng-directive">

                    <h3>
                        angular's ng-directive
                    </h3>

                    <p>
                        ng-directives tell angular to perform certain task including but not limited to:
                    </p>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            User Events - clicks, submits, mouseover<br />
                            ngFocus, ngClick, ngBlur, npKeyup
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Parts of the DOM - img src, selected fields, styles, classes<br />
                            ngSrc, ngSelected, ngStyles, ngClass
                        </li>
                        <li class="fragment" data-fragment-index="">
                            Maintain Event Scope, Render Views, Include Html<br />
                            ngController, ngView, ngInclude
                        </li>
                    </ul>

                </section>

                <section id="angular-hard">
                    <h3>
                        Why Angular can be hard to 'get'...
                    </h3>
                    <p>
                        Javascript function arguments are very loose. One function can be called without any argument or with 10 arguments.
                    </p>
                    <div class="fragment" data-fragment-index="1">
                        <pre><code class="javascript">
    doSomething();

    doSomething(car, garage, door);

    doSomething = function(a,b,c,d,e,f){

    }
                        </code></pre>
                    </div>
                    <p class="fragment" data-fragment-index="2">
                        Javascript scope can be very confusing. When is 'this' used in an object and when to use global objects.
                    </p>
                </section>
                <section id="angular-hard-2">
                    <div class="fragement" data-fragment-index="1">
                        <pre><code class="javascript tall">
    var object = function(){
        return {
            name : 'my object',
            method: function(){
                this.name = 'other name';
            },
            subObject: {
                name: 'different name',
                method: function(){
                    if(this.name=='different name'){
                        //something cool
                    }
                },
                elementFunction: function(el){

                    //el was recently refered to as this
                    el.text(this.name);
                }
            }
        }
    }

    $(function(){
        foo = new object();

        $('button').click(function(){
            var $el = $(this);

            $el.text(foo.name);

            setTimeout(function(){
                foo.subObject.elementFunction($el);
            },1000);
        });
    });
                        </code></pre>
                    </div>
                </section>

                <section id="angular-controller">
                    <h4>How Angular Makes it Better</h4>

                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            ngController and the $scope object
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Defined scope by declaring it within the DOM node
                        </li>
                    </ul>
                    <pre class="fragment" data-fragment-index="3">
                        <code class="html tall">
    &lt;div ng-controller=&quot;ContactController&quot;&gt;
        Email:&lt;input type=&quot;text&quot; /&gt;
        &lt;button ng-click=&quot;add()&quot;&gt;Add&lt;/button&gt;
        &lt;h2&gt;Car Garage&lt;/h2&gt;

        &lt;ul&gt;
            &lt;li ng-repeat=&quot;cars in garage&quot;&gt; {{ car }} &lt;/li&gt;
        &lt;/ul&gt;

    &lt;/div&gt;
                        </code>
                    </pre>
                </section>

                <section id="angular-controller-js">
                    <h3>Angular Controller</h3>
                    <pre><code class="javascript">
    var app = angular.module("app", ['ngRoute'])

    app.controller("HomeController", function($scope, AuthenticationService) {
        $scope.garage = [
            'Pinto',
            'PT Cruise',
            'Vanagon'
        ];

        $scope.form = function($location){
            $location.path('/add/car');
        }

        $scope.add = function() {
            $scope.garage.push('Kia Soul');
            $scope.apply();
        };
    });
                    </code></pre>
                </section>

                <section>
                    <h3>Two way data binding</h3>
                    <h4>You've changed!</h4>
                    <div class="fragment" data-fragment-index="1">
                        <img src="_/images/Two_Way_Data_Binding.png" alt="Two Way Data Binding"/>
                    </div>
                    <div class="fragment" data-fragment-index="2">
                        <p>
                            If an element is changed by the user the model is updated.<br/><br/>
                            If the model is changed by the javascript, the element is updated.
                        </p>
                    </div>
                </section>

                <section id="angular-directives">
                    <h3>Custom Directives</h3>
                    <pre><code class="javascript">
    app.directive("whatInTheWorld", function() {
        return {
            restrict: "A", // A = Attribute, C = CSS Class, E = HTML Element, M = HTML Comment
            link: function(scope, element, attributes) {

                element.bind("mouseenter", function() {
                    scope.gallery = "View Gallery " + attributes.gallery;
                    scope.$apply();
                });

                element.bind("mouseleave", function() {
                    scope.gallery = "Choose Gallery";
                    scope.$apply();
                });
            }
        };
    });
                    </code></pre>
                </section>

                <section id="angular-more">
                    <h3>
                        More to Learn
                    </h3>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            jQlite
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Services - adding custom arguments to functions
                        </li>
                    </ul>
                </section>

                <section id="take-away">
                    <h2>Take Aways</h2>
                    <p>
                        Single Page Applications are only growing in popularity. The massive amount of information on the internet needs to curated.
                        Single Page Applications deliver important information to users through a seamless user interface.
                    </p>
                    <ul>
                        <li class="fragment" data-fragment-index="1">
                            jQuery is a great way to learn javascript, manipulation the dom and track events
                        </li>
                        <li class="fragment" data-fragment-index="2">
                            Backbone helps to maintain large projects with a lot of DOM manipulation. It also helps with syncing
                            data through RESTful APIs.
                        </li>
                        <li class="fragment" data-fragment-index="3">
                            Angular provides single page application magic, but can be hard
                        to learn. Angular handles scope, data binding and views through declarative html.
                        </li>
                        <li class="fragment" data-fragment-index="4">
                            Javascript can be confusing?! Don't give up hope! Learn little by little and look to the open source community for help.
                        </li>
                    </ul>
                </section>
			</div>

		</div>
        <script type="application/javascript" src="_/lib/js/highlight.pack.js"></script>
		<script src="_/lib/js/reveal.min.js"></script>

		<script>

            hljs.initHighlightingOnLoad();
			Reveal.initialize();

		</script>

	</body>
</html>
